DB_DRIVER=msnodesqlv8
DB_SERVER="localhost\SQLEXPRESS"
DB_DATABASE=db_name
DB_ODBC_DRIVER="ODBC Driver 18 for SQL Server"

PORT=3000
NODE_ENV=development
SESSION_COOKIE_NAME=portal_session
SESSION_TOKEN_PEPPER=replace_with_your_own_long_random_value
SESSION_TTL_HOURS=24
COOKIE_SECURE=false
CORS_ORIGIN=http://localhost:4200

#MFA
MFA_ENCRYPTION_KEY=replace_with_your_own_long_random_value
MFA_PENDING_TTL_MINUTES=5